---
//sanity cms
import { useSanityClient } from 'astro-sanity';
import PortableText from '../../components/PortableText.astro';
import { urlForImage } from '../../sanity/urlForImage.js';

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`); 

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: { ...post },
    };
  });
}

const {title, description, information, headerImage, images} = Astro.props;

//component imports
import Layout from "../../layouts/Layout.astro";

//style imports
import '../../styles/typography.css'
---
<Layout title ={title}>
  <main>
    <img src={urlForImage(headerImage).format('webp').url()} alt={headerImage.alt}>
    <div>
      <h1>{title}</h1>
      <div>
        <div>
          <PortableText portableText={description} type='description'/>
        </div>
        <div>
          <div>
            <img src="/icons/grooves.svg" alt="" class="grooves">
          </div>
          <div>
            <PortableText portableText={information} type='information'/>
          </div>
        </div>
      </div>
    </div>

    {images && <div>
          {images.map((image) => (
            <img src={urlForImage(image).format('webp').url()} alt={image.alt}>
          <p class="small-body">{image.caption}</p>
          ))}
    </div>}
  </main>
</Layout>

<style>
  main {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 80px 0;

    > div {
      display: flex;
      flex-direction: column;
      gap: 40px;

      > h1 {
        font-size: var(--h2);
      }

      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      > div:nth-child(4) {
        > div {
          line-height: 500% !important;
        }
      }
    }
  }

  .grooves {
    margin-bottom: 40px;
  }

  @media (width >= 431px) {
    main {
      padding: 0 80px;

      > div {

        > h1 {
          font-size: var(--h1) !important;
        }

        > div:nth-child(2) {
          flex-direction: row;
          gap: 160px;

          > div:nth-child(2) {
            > div:nth-child(2) {
              width: 400px;
            }
          }
        }
      }
    }
  }
</style>


